.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10vh;
  gap: 20px;
  padding: 20px;
  font-family: "sans-serif";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flashcard {
  position: relative;
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  padding: 20px;
  aspect-ratio: 2/1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
}

div.selected {
  color: #61dafb;
  background-color: #282c34;
}
